.main{
    /*background-color: #A9A9A9;*/
    font-family: "Segoe Print", sans-serif;
   /* padding-left: 20px;
    padding-right: 20px;*/
    display: block;
    width: 100%;
}


.mainContent{
    /*background-color: #A9A9A9;*/
    font-family: "Segoe Print", sans-serif;
    /* padding-left: 20px;
     padding-right: 20px;*/
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.menu{
    background-color: cadetblue;
    /*position: fixed;*/
    width: 100%;
    height: 50px;
}


.mainText{
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    width: 50%;
    padding: 20px;
    line-height: 30px;
    font-family: Verdana,Open Sans,sans-serif;
    text-indent: 40px;
    height: 800px;
}

.pagination{
    background-color: cornflowerblue;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #C0C0C0;
}

.rightSide{
    float: right;
}

.button2{
    background-color: inherit;
    border: none;
    outline: none;
    /*text-decoration: none;*/
}

/*.mainContent::-webkit-scrollbar {*/
/*    width: 10px;*/
/*    background-color: white;*/
/*}*/

/*.mainContent::-webkit-scrollbar-button {*/
/*    width: 10px;*/
/*    background-color: blue;*/
/*}*/
