.header {
    background-color: #242c3f;
    /*font-family: "Segoe Print", sans-serif;*/
    display: block;
    padding: 25px;
    width: 300px;
    /*height: 100%;*/
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.navigation {
    display: flex;
    flex-direction: column;
}

.link {
    height: 20px;
    width: auto;
    background-color: inherit;
    margin-bottom: 30px;
    border: none;
    color: #f6ecda;
    font-size: 1.2em;
    outline: none;
    text-decoration: none;
}

.link:hover {
    color: aquamarine;
    cursor: pointer;
}

.icon{
    margin-right: 20px;
    margin-bottom: -6px;
    height: 25px;
}

.logo:before {
    content: '';
    background-image: url('../images/logotip.png');
}