.footer{
    /*background-color: aqua;*/
    height: 70px;
    /*background: url("../images/avengers.jpg");*/
    background-color: #A9A9A9;
    font-family: "Segoe Print", sans-serif;
    display: flex;
    padding-left: 20px;
    /*bottom: 0;*/
    /*position: absolute;*/
    color: white;
}

a {
    height: 20px;
    width: auto;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 1.2em;
    outline:none;
    margin-top: 20px;
}
a:hover{
    color: aquamarine;
    cursor: pointer;
}